@import "@/styles/colors", "@/styles/metrics", "@/styles/fonts";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  padding: $small-space;
  background-color: $primary;
  width: $button-width;
  border: none;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.9);

    .buttonText {
      transform: scale(0.9);
    }
  }
}

.button_secondary {
  background-color: $secondary;
}

.button_transparent {
  background-color: $transparent;
}

.button_auto {
  width: auto;
}

.buttonText {
  @include text-style($size-small, "bold", $white);
  transition: transform 0.2s;
}

.buttonText_large {
  font-size: $size-medium;
}

.buttonText_transparent {
  color: $secondary;
}
