@import "@/styles/metrics.scss", "@/styles/colors.scss";

.textInput {
  background-color: $secondary10;
  padding: $small-space;
  border: 2px solid $secondary;
  border-radius: $border-radius;
  width: 100%;
}

.searchInput::placeholder {
  color: $secondary;
}

@media only screen and (min-width: $mobile-breakpoint) {
  .textInput {
    width: $input-size;
  }
}
