@import "@/styles/colors.scss", "@/styles/metrics.scss", "@/styles/fonts.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  padding: $small-space;
  background-color: $primary;
  width: $button-width;
  border: none;
  cursor: pointer;
}

.button_secondary {
  background-color: $secondary;
}

.button_transparent {
  background-color: $transparent;
}

.button_auto {
  width: auto;
}

.buttonText {
  color: $white;
  font-size: $size-small;
  font-weight: bold;
}

.buttonText_large {
  font-size: $size-medium;
}

.buttonText_transparent {
  color: $secondary;
}
