@import "@/styles/colors", "@/styles/metrics", "@/styles/fonts";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  padding: $small-space;
  background-color: $primary;
  width: $button-width;
  border: none;
  cursor: pointer;
}

.button_secondary {
  background-color: $secondary;
}

.button_transparent {
  background-color: $transparent;
}

.button_auto {
  width: auto;
}

.buttonText {
  @include text-style($size-small, "bold", $white);
}

.buttonText_large {
  font-size: $size-medium;
}

.buttonText_transparent {
  color: $secondary;
}
