@import "@/styles/fonts", "@/styles/metrics";

.navigationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: $small-space;
}

.pageCount {
  @include text-style();
  text-align: center;
}

@media only screen and (min-width: $mobile-breakpoint) {
  .navigationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
